@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0%;
    padding: 0%;
    font-family: "Roboto",sans-serif;
    color: white;
    &::-webkit-scrollbar{
        display: none;
    }
}
$bg: rgb(16, 16, 16);

a {
    // color: white;
    text-decoration: none;
}

.header{
    height: 80px;
    background-color: $bg;
    display: flex;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    justify-content: space-between;
  
     > img{
        height: 90%;
}
 > div{
    width: 100%;
    margin-left: 4vmax;
    > a {
        margin: 1vmax;
        font-size: 1.1rem;
        font-weight: 300;
    }
}
    > svg{
        color: white;
        font-size: 1.5rem;
        cursor: pointer;
        &:hover{
            color: rgb(206, 194, 194);
        }  
    }
}


